html {
    background: #121213;
    height: -webkit-fill-available;
}

body {
    min-height: 100vh;
    min-height: -webkit-fill-available;
    margin: 0;
}

*  {
    color: white;
    font-family: 'Maven Pro', sans-serif;
    box-sizing: border-box;
}

button {outline: none}

#main-wrapper {
    /* outline: pink solid 5px; */
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}




#header-wrapper {
    /* outline: #eb6262 solid 3px; */
    display: flex;
    align-items: center;
    height: 52px;
    width: 100vw;
    border-bottom: #565758 solid 1px;
}

#buttons-left-wrapper, #title-wrapper, #buttons-right-wrapper {
    /* outline: green solid 2px; */
    width: 33.33333%;
    display: flex;
    align-items: center;
}

.header-button {
    background:#121213;
    color: white;
    font-size: 20px;
    border: none;
    padding: 6px 6px;
    cursor: pointer;
}

#buttons-left-wrapper {
    /* outline: pink solid 2px; */
    justify-content: flex-start;
    margin-left: 16px;
}

#title-wrapper {
    justify-content: center;
    margin-bottom: 4px;
}

#title {
    /* outline: white solid 2px; */
    font-size: 42px;
    letter-spacing: 1px;
    cursor: default;
}

#buttons-right-wrapper {
    /* outline: pink solid 2px; */
    justify-content: flex-end;
    margin-right: 16px;
}




#board-wrapper {
    /* outline: #5b91d3 solid 3px; */
    width: 100vw;
}

#board-table {
    margin: 12px auto;
}

.board-line {
    /* outline: pink solid 2px; */
    height: 8vh;
}

.board-cell {
    /* outline: beige solid 1px; */
    outline: #3a3a3c solid 2px;
    width: 8vh;
    text-align: center;
    font-size: 32px;
    font-weight: bold;
    transition: 1s;
}

.board-spacer {
    outline: none;
    height: 5px;
    width: 5px;
}




#letters-wrapper {
    /* outline: #6cd16c solid 3px; */
    height: 190px;
    width: 100vw;
    margin: 0 auto 1vh;
    text-align: center;
}

.letters-row {
    /* outline: green solid 1px; */
    margin-bottom: 3px;
}

.letters-button {
    background: #818384;
    border: none;
    border-radius: 4px;
    margin: 3px 3px 2px 3px;
    height: 56px;
    width: 42px;
    font-size: 14px;
    font-weight: bold;
    transition: 1s;
}

.no-spot {
    background: #3a3a3c;
}

.wrong-spot {
    background: #b59f3b;
}

.correct-spot {
    background: #538d4e;
}

#ENTER, #DELETE {
    width: 64px;
}