html {
    background: #121213;
    height: -webkit-fill-available;
}

body {
    min-height: 100vh;
    min-height: -webkit-fill-available;
    margin: 0;
    touch-action: pan-x pan-y;
}

*  {
    color: white;
    font-family: 'Maven Pro', sans-serif;
    box-sizing: border-box;
}

button {outline: none}

#main-wrapper {
    /* outline: pink solid 5px; */
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#main-wrapper.mobile {
    min-height: -webkit-fill-available;
}

#dark-screen, #popup-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    
}

#dark-screen {
    background: #00000085;
}

#dark-screen.mobile {
    min-height: -webkit-fill-available;
}

#popup-box {
    background: white;
    color: black;
    font-size: 16px;
    font-weight: bold;
    padding: 14px 18px;
    border-radius:5px;
    margin: 15vh auto;
    transition: 1s;
}
    
#settings-wrapper, #stats-wrapper {
    background: #121213;
    outline: #19191a solid 1px;
    margin: auto;
    height: 350px;
    width: 450px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
}
#settings-wrapper.mobile, #stats-wrapper.mobile {
    height: 50vh;
    width: 85vw;
}

#stats-box {
    /* outline: pink solid 2px; */
} #stats-header {
    /* outline: yellow solid 1px; */
    font-size: 16px;
    font-weight: bold;
    margin: 10px 0;
} #stats-table {
    /* outline: green solid 1px; */
    margin: 0 auto;
    table-layout: fixed;
    width: 90%;
} #stats-values {
    /* outline: lightblue solid 1px; */
    font-size: 38px;
} #stats-values.mobile {
    font-size: 32px;
} #stats-labels {
    /* outline: green solid 1px; */
    font-size: 13px;
    vertical-align: top;
} #stats-labels.mobile {
    font-size: 11px;
}

#distr-box {
    /* outline: pink solid 2px; */
} #distr-header {
    /* outline: pink solid 2px; */
    font-size: 16px;
    font-weight: bold;
    margin-top: 6px;
    margin-bottom: 5px;
} #distr-table {
    margin: 0 auto 10px;
    table-layout: fixed;
    width: 90%;
} #distr-values {
    /* outline: green solid 1px; */
    height: 150px;
    vertical-align: bottom;
} #distr-values.mobile {
    
} .distr-bar {
    outline: white solid 1px;
    background: white;
    color: black;
    font-size: 12px;
    font-weight: bold;
    margin: 0 auto;
    width: 30px;
    vertical-align: middle;
    
} #distr-spacer {
    height: 10px;
} #distr-labels {
    /* outline: red solid 1px; */
    font-size: 14px;
} #distr-labels.mobile {
    
}




#header-wrapper {
    /* outline: #eb6262 solid 3px; */
    display: flex;
    align-items: center;
    height: 52px;
    width: 100vw;
    border-bottom: #565758 solid 1px;
}
#header-wrapper.mobile {
    height: 7vh;
}

#buttons-left-wrapper, #title-wrapper, #buttons-right-wrapper {
    /* outline: green solid 2px; */
    width: 33.33333%;
    display: flex;
    align-items: center;
}

#buttons-left-wrapper {
    /* outline: pink solid 2px; */
    justify-content: flex-start;
    margin-left: 16px;
}

#title-wrapper {
    justify-content: center;
    margin-bottom: 4px;
}

#title {
    /* outline: white solid 2px; */
    font-size: 42px;
    letter-spacing: 1px;
    cursor: default;
}
#title.mobile {
    font-size: 4.6vh;
}

#buttons-right-wrapper {
    /* outline: pink solid 2px; */
    justify-content: flex-end;
    margin-right: 16px;
}

.header-button {
    background:#121213;
    color: white;
    font-size: 20px;
    border: none;
    padding: 6px 6px;
    cursor: pointer;
}
.header-button-mobile {
    font-size: 2.8vh;
}
#github.mobile, #stats.mobile {
    margin-right: 1.6vh;
}




#board-wrapper {
    /* outline: #5b91d3 solid 3px; */
    width: 100vw;
}

#board-table {
    margin: 12px auto;
}

.board-line {
    /* outline: pink solid 2px; */
    height: 8vh;
}

.board-cell {
    /* outline: beige solid 1px; */
    outline: #3a3a3c solid 2px;
    width: 8vh;
    text-align: center;
    font-size: 32px;
    font-weight: bold;
    transition: 1s;
}

.board-spacer {
    outline: none;
    height: 5px;
    width: 5px;
}




#letters-wrapper {
    /* outline: #6cd16c solid 3px; */
    height: 190px;
    width: 100vw;
    margin: 0 auto 1vh;
    text-align: center;
}

.letters-row {
    /* outline: green solid 1px; */
    margin-bottom: 3px;
}

.letters-button {
    background: #818384;
    border: none;
    border-radius: 4px;
    margin: 3px 3px 2px 3px;
    height: 56px;
    width: 42px;
    font-size: 14px;
    font-weight: bold;
    transition: 1s;
}

.no-spot {
    background: #3a3a3c;
}

.wrong-spot {
    background: #b59f3b;
}

.correct-spot {
    background: #538d4e;
}

#ENTER, #DELETE {
    width: 64px;
}